In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import feature_column #reformats structured data for ease in calculations
from tensorflow.keras import layers #to create the layer in the neural network.
from sklearn.model_selection import train_test_split #splitsthe data for us
from sklearn.metrics import confusion_matrix #calculates the confusion matrix
from sklearn.metrics import accuracy_score #calculates the accuracy score
import matplotlib.pyplot as plt
%matplotlib inline
#so that plots remain within the cell

In [ ]:
Number_of_features=4
Number_of_units=1 #indicates number of neurons

In [ ]:
weight=tf.Variable(tf.zeros([Number_of_features,Number_of_units])) #initializing to zero
bias=tf.Variable(tf.zeros([Number_of_units]))#Initializing to zero

In [ ]:
def perceptron(x):
    I=tf.add(tf.matmul(x,weight),bias)
    output=tf.sigmoid(I)
    return output

In [ ]:
individual_loss=lambda: abs(tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(labels=y,logits=perceptron(x))))
optimizer=tf.keras.optimizers.Adam(.01)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Iris.csv to Iris.csv

In [ ]:
import io
dataframe = pd.read_csv(io.BytesIO(uploaded['Iris.csv']))

In [ ]:
dataframe.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
x_input=dataframe[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].values
y_label=dataframe[['Species1']].values

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
dataframe['Species1'] =le.fit_transform(dataframe['Species'])
dataframe.head()

   Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm      Species Species1
0   1            5.1           3.5  ...           0.2  Iris-setosa        0
1   2            4.9           3.0  ...           0.2  Iris-setosa        0
2   3            4.7           3.2  ...           0.2  Iris-setosa        0
3   4            4.6           3.1  ...           0.2  Iris-setosa        0
4   5            5.0           3.6  ...           0.2  Iris-setosa        0

[5 rows x 7 columns]

In [ ]:
dataframe.drop('Species', axis=1,inplace=True)
dataframe.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species1
0   1            5.1           3.5            1.4           0.2         0
1   2            4.9           3.0            1.4           0.2         0
2   3            4.7           3.2            1.3           0.2         0
3   4            4.6           3.1            1.5           0.2         0
4   5            5.0           3.6            1.4           0.2         0

In [ ]:
#Initialize the variable x
x=tf.Variable(x_input)

#Change the datatype of x to 'float32'
x=tf.cast(x,tf.float32)

#Initialize y as a variable using tf.Variable() and the dataframe object y_label.
#Create the variable y
y=tf.Variable(y_label)

#Change the datatype of y to 'float32'
y=tf.cast(y,tf.float32)

In [ ]:
for i in range(1000):
    optimizer.minimize(individual_loss,[weight,bias])

In [ ]:
tf.print(weight,bias)
tf.print(weight,bias)

[[0.0112809855]
 [-2.05108762]
 [1.9777658]
 [2.19364882]] [-1.17592418]
[[0.0112809855]
 [-2.05108762]
 [1.9777658]
 [2.19364882]] [-1.17592418]

In [ ]:
final_loss=tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(labels=y,logits=perceptron(x)))

#Now print the value of the final loss using tf.print(final_loss).
final_loss=tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(labels=y,logits=perceptron(x)))

tf.print(final_loss)

0.110294878

In [ ]:
ypred=perceptron(x)
ypred=tf.round(ypred) #Round off the output value to 1 or 0, to make the comparison with the target easier.

In [ ]:
accuracy_score(y, ypred)

0.6666666666666666